
cryptostatistics/cryptostatistics/bin/Debug/net6.0/cryptostatistics.dll
cryptostatistics/cryptostatistics/bin/Debug/net6.0/Microsoft.OpenApi.dll
cryptostatistics/cryptostatistics/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
cryptostatistics/cryptostatistics/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
cryptostatistics/cryptostatistics/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
cryptostatistics/cryptostatistics/obj/Container/ContainerDevelopmentMode.cache
cryptostatistics/cryptostatistics/obj/Container/ContainerOperatingSystemFlavor.cache
cryptostatistics/cryptostatistics/obj/Container/launch.sem
cryptostatistics/cryptostatistics/obj/Container/launch.sem
cryptostatistics/cryptostatistics/obj/Container/launch.sem
cryptostatistics/cryptostatistics/obj/Container/OperatingSystemName.cache
cryptostatistics/cryptostatistics/obj/Container/TargetFramework.cache
cryptostatistics/cryptostatistics/obj/Container/warmup.sem
cryptostatistics/cryptostatistics/obj/Debug/net6.0/apphost.exe
cryptostatistics/cryptostatistics/obj/Debug/net6.0/cryptostatistics.csproj.BuildWithSkipAnalyzers
cryptostatistics/cryptostatistics/obj/staticwebassets.pack.sentinel
cryptostatistics/cryptostatistics/obj/Debug/net6.0/refint/cryptostatistics.dll
cryptostatistics/cryptostatistics/obj/Debug/net6.0/ref/cryptostatistics.dll
cryptostatistics/cryptostatistics/obj/Debug/net6.0/cryptostatistics.pdb
cryptostatistics/cryptostatistics/obj/Debug/net6.0/cryptostatistics.MvcApplicationPartsAssemblyInfo.cs
*.cache
*.dll
*.txt
*.sem
*.CopyComplete
*.json
*.sem
cryptostatistics/cryptostatistics/bin/Debug/net6.0/cryptostatistics.pdb
cryptostatistics/cryptostatistics/bin/Debug/net6.0/cryptostatistics.exe
cryptostatistics/cryptostatistics/obj/Container/launch.sem
cryptostatistics/cryptostatistics/obj/Container/launch.sem
*.v2
cryptostatistics/cryptostatistics/obj/project.nuget.cache
cryptostatistics/cryptostatistics/obj/Debug/net6.0/cryptostatistics.assets.cache
cryptostatistics/cryptostatistics/obj/Debug/net6.0/cryptostatistics.csproj.AssemblyReference.cache
cryptostatistics/cryptostatistics/obj/project.assets.json
cryptostatistics/cryptostatistics/obj/cryptostatistics.csproj.nuget.dgspec.json
cryptostatistics/cryptostatistics/obj/Debug/net6.0/cryptostatistics.assets.cache
cryptostatistics/cryptostatistics/obj/Debug/net6.0/cryptostatistics.csproj.AssemblyReference.cache
cryptostatistics/cryptostatistics/obj/project.assets.json
cryptostatistics/cryptostatistics/obj/project.nuget.cache
